In [2]:
import pandas as pd
import seaborn as sns

import scipy as sp
from scipy import stats # statistics

import warnings
warnings.filterwarnings("ignore")

In [3]:
# 4가지의 통계 검정을 배운다.

In [4]:
df = pd.read_csv("cosmetics_.csv", encoding='utf-8')
df.head()

,gender,marriage,edu,job,mincome,aware,count,amount,decision,propensity,skin,promo,location,satisf_b,satisf_i,satisf_al,repurchase
0,1,1,4,1,2,2,1,11000,2,1,1,1,2,5,2,2,2
1,2,1,4,9,2,1,4,30000,1,1,3,2,3,2,3,3,4
2,2,2,4,4,3,1,6,100000,3,2,3,2,2,4,5,4,4
3,2,2,4,7,5,2,6,65000,3,2,5,2,3,3,4,4,4
4,1,2,6,6,5,2,2,50000,2,2,3,2,3,3,3,3,3

In [8]:
# 교차표 (cross-table)
pd.crosstab(df.propensity, df.skin, margins=True) 
# margin : 합계에 해당하는 "All" 추가 여부

# skin & propensity 열의 각 범주의 의미
# propensity : 구매 성향(비교적 저렴한 제품, 중간 정도의 제품, 비교적 고가의 제품)
# skin : 피부 타입 (건성, 민감성, 중성, 지성/여드름성, 복합성)

skin         1   2   3   4   5  All
propensity
1           22   1  12  11  14   60
2           39   8  47  16  23  133
3           20  11  10   4   9   54
All         81  20  69  31  46  247

In [10]:
df.skin.value_counts(sort=False)

1    81
2    20
3    69
4    31
5    46
Name: skin, dtype: int64

In [11]:
df.propensity.value_counts(sort=False)

1     60
2    133
3     54
Name: propensity, dtype: int64

In [12]:
crosstab = pd.crosstab(df.propensity, df.skin, margins=True)

crosstab.columns = ["건성", "민감성", "중성", "지성", "여드름성", "합계"]
crosstab.index = ["비교적 저렴한 제품", "중간정도의 제품", "비교적고가의 제품", "합계"]
crosstab

            건성  민감성  중성  지성  여드름성   합계
비교적 저렴한 제품  22    1  12  11    14   60
중간정도의 제품    39    8  47  16    23  133
비교적고가의 제품   20   11  10   4     9   54
합계          81   20  69  31    46  247

In [14]:
# 총 값으로 나누어 줌 ex) 22 / 247, 1 / 247
pd.crosstab(df.propensity, df.skin, margins=True, normalize=True)

skin               1         2         3         4         5       All
propensity
1           0.089069  0.004049  0.048583  0.044534  0.056680  0.242915
2           0.157895  0.032389  0.190283  0.064777  0.093117  0.538462
3           0.080972  0.044534  0.040486  0.016194  0.036437  0.218623
All         0.327935  0.080972  0.279352  0.125506  0.186235  1.000000

In [ ]:
# 통계 검정 -> 통계학적으로 얼마나 유의미가 있는가?

In [17]:
# Chi-square 검정 (카이제곱 검정)
# 두 범주형 변수 사이의 관계가 있는지 없는지를 검정 (독립성 검정)

stats.chisquare(df.propensity, df.skin)

# 귀무가설 : 구매 성향에 따라 피부 타입에 차이가 없다. (independent, 구매 성향 <-> 피부타입, vice versa)
# 대립가설 : 구매 성향에 따라 피부 타입에 차이가 있다. (not independent)

# p-value가 0.05이하 -> 유의미한 차이가 있다. (대립가설)

Power_divergenceResult(statistic=291.8166666666667, pvalue=0.023890557260065975)